<!DOCTYPE html>
<html lang="en">

<head>
    <title>Szakdoga</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/lodash/4.17.4/lodash.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.5/firebase.js"></script>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuefire/dist/vuefire.js"></script>
    <script defer src="items.js"></script>
    <script defer src="globals.js"></script>
</head>

<body>
    <div id="app">
        <div class="btn-group-vertical">
            <button href="#listItems" data-toggle="tab" type="button" class="btn btn-primary">Termékek kilistázása</button>
            <button href="#createItem" data-toggle="tab" type="button" class="btn btn-primary">Termékek létrehozása</button>
        </div>

        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade in active" id="home">Főoldal</div>
            <div role="tabpanel" class="tab-pane fade" id="listItems">Termékek kilistázása
                <table class="table" id="itemsMainTable">
                    <thead>
                        <tr>
                            <th>_id</th>
                            <th>Név</th>
                            <th>Mennyiség</th>
                        </tr>
                    </thead>
                    <tbody id="itemsTable" v-for="it in items">
                        <tr>
                            <td> {{ it['.key'] }} </td>
                            <td> {{ it.name }} </td>
                            <td> {{ it.quantity }} </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="createItem">Termék létrehozása
                <form id="itemCreateForm">
                    <div class="form-group">
                        <label for="itemName">Termék neve:</label>
                        <input type="text" class="form-control col-sm-6" v-model="item.name">
                    </div>
                    <div class="form-group">
                        <label for="itemQuantity">Mennyiség:</label>
                        <input type="number" class="form-control col-sm-6" v-model.number="item.quantity">
                    </div>
                    <br>
                    <button type="button" class="btn btn-primary" v-on:click="save">Mentés</button>
                    <button type="button" class="btn btn-primary" v-on:click="drop">Elvetés</button>
                </form>
            </div>
        </div>
    </div>
</body>

</html>