body {
    background-image: url("background.jpg");
    color: white;
}

#myModal, #deleteItems {
    color: black;   
}

.searchInputs {
    color: black;   
}

.input-group {
    color: black;   
}

.itemQuantity {
    border: black solid;
    border-radius: 5px;
    background: lightblue;
    color: red;
    font-weight: bold;
}

.unitsSelect {
    color: black;
}